.popup {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup-div {
  width: 100%;
  max-width: 70rem;
  border-radius: 0.8rem;
  padding: 2rem;
  text-align: left;
  justify-content: space-between;
}

.popup-div h2 {
  font-size: 42px;
  color: #091e42;
}

.popup-div ul {
  color: cyan;
  margin-top: 16px;
  list-style-type: none;
  display: block;
}

.popup-div ul>li {
  font-size: 18px;
  color: #344563;
  list-style: none;
  display: inline-block;
}

.popup-div img {
  padding-top: 60px;
  width: auto;
  height: 40vh;
}

.red-blue-green {
  display: flex;
  flex-direction: row;
  height: auto;
}

.red {
  width: 75%;
}

.popup-div .paragraph {
  padding-top: 50px;
  color: #344563;
}

.blue-green {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.blue {
  display: flex;
  justify-content: space-between;
  height: 50%;
  border-bottom: 5px solid #EBECF0;
  column-gap: 50px;;
}

.blue hr {
  border: 5px solid salmon;
}

.green {
  display: flex;
  gap: 50px;
}

.button-popup {
  color: #2b52b5;
  font-weight: 500;
  font-size: 17px;
  background: #fff;
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  margin-top: 24px;
}
