* {
  font-family: Poppins, sans-serif;
}

html,
body,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

ul {
  list-style-type: none;
  padding: 0;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding-left: 24px;
}

#logo {
  color: #6070ff;
  font-size: 18px;
}

.desktop-visible {
  display: none;
}

.main-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 80px;
  background-color: #e5e5e5;
}

.section-1 {
  height: 718px;
  background: #fff url(images/main-page-bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border-bottom-left-radius: 80px;
  padding: 24px;
}

#introduction h1 {
  font-size: 40px;
  color: #172b4d;
}

#introduction p {
  font-size: 16px;
  color: #344563;
}

#introduction h3 {
  font-size: 16px;
  color: #7f8cff;
}

.social-media {
  display: flex;
  width: 200px;
  justify-content: space-between;
}

/* section 2 */

.section-2 {
  margin: 24px;
  border-radius: 24px;
  background-color: #fff;
}

.image-mv {
  display: block;
  align-items: left;
}

.image-dtv {
  display: none;
}

.rectangle {
  padding: 24px;
  border-radius: 24px;
}

.project-title {
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
  padding: 24px;
}

.project-meta-data {
  display: flex;
  align-items: center;
  color: #7a869a;
  gap: 12px;
  margin-bottom: 20px;
  padding-left: 24px;
}

.project-client {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #344563;
}

.project-tech,
.project-year {
  font-size: 16px;
  color: #7a869a;
}

.project-description {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-left: 24px;
  margin-bottom: 16px;
}

.project-tags {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
  font-weight: 600;
  margin-left: 24px;
}

.tags {
  color: #6070ff;
  font-size: 12px;
  padding: 4px 12px;
  border-radius: 4px;
  background-color: #ebebff;
}

.project-button button {
  color: #396df2;
  font-weight: 500;
  font-size: 17px;
  background: #fff;
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  margin: 24px;
}

.get-in-touch button {
  color: #6070ff;
  font-weight: 500;
  font-size: 17px;
  background: #fff;
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  margin-left: 40px;
}

.about-section {
  display: grid;
  row-gap: 12px;
  padding: 24px;
  background-color: #fff;
  border-top-right-radius: 80px;
}

.about-myself {
  color: #172b4d;
  font-size: 40px;
  font-weight: 700;
}

.about {
  padding: 20px;
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  color: #344563;
}

.connect {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

/* languages part */

.row-1,
.row-5,
.row-6 {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  padding: 18px;
}

.languages-list {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  gap: 24px;
}

.row-2,
.row-3,
.row-4 {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  gap: 20px;
  background: #f7f7f9;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}

hr {
  margin: 0;
}

.hr1 {
  border: 0;
  border-top: 1px solid #dfe1e6;
}

.contact-me {
  background: #6070ff url(images/contact-form-bg.svg);
  background-position-x: right;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 100px;
  color: #ebebff;
  padding-left: 24px;
  padding-bottom: 24px;
}

.contact-me-text {
  margin-top: 103px;
  color: #ebebff;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  text-align: center;
}

.contact-me-brief {
  color: #ebebff;
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
  margin: 40px;
  text-align: center;
}

.input-field-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 40px;
}

.input-field {
  align-items: center;
  border-radius: 8px;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  height: 24px;
  padding: 10px;
}

.write-message {
  border-radius: 8px;
  font-weight: 400;
  font-size: 17px;
  color: #172b4d;
  padding: 15px 38px 0 16px;
}

.project-button:hover button {
  color: #fff;
  background-color: #7f8cff;
}

.project-button:active button {
  color: #fff;
  background-color: #3347ff;
}

.get-in-touch:hover button {
  color: #fff;
  background-color: #7f8cff;
}

.get-in-touch:active button {
  color: #fff;
  background-color: #3347ff;
}
