* {
  font-family: Poppins, sans-serif;
}

head {
  max-width: 100%;
}

.project-cards-desktop {
  display: none;
}

html,
body,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul>li {
  padding-right: 20px;
  margin: 0;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding-left: 24px;
  padding-right: 24px;
  position: fixed;
  width: 94%;
}

.main-container {
  display: grid;
  min-width: 375px;
  background-color: #e5e5e5;
  gap: 80px;
}

#logo {
  color: #434eb1;
  font-size: 18px;
}

.mobile-visible {
  cursor: pointer;
}

.desktop-visible {
  display: none;
}

.introduction {
  height: 718px;
  margin-top: 50px;
  background: #fff url(images/main-page-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 80px;
  padding: 24px;
}

#introduction h2 {
  font-size: 40px;
  color: #172b4d;
}

.div1 h2 {
  font-size: 40px;
  font-weight: 700;
  color: #091e42;
  padding-top: 36px;
}

#introduction h2 {
  margin-top: 120px;
  font-size: 40px;
  font-weight: 700;
  color: #172b4d;
  width: 75%;
}

#introduction p {
  font-size: 16px;
  color: #344563;
}

#introduction h3 {
  font-size: 16px;
  color: #7f8cff;
}

.social-media {
  display: flex;
  width: 200px;
  justify-content: space-between;
}

/* work section using javaScritp */

.project-cards {
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  gap: 140px;
  padding: 0 24px;

}

.card-container {
  padding: 16px;
  padding-bottom: 20px;
  background-color: lightsalmon;
  border-radius: 16px;
}

.project-image {
  width: auto;
}



.card-container > h2 {
  padding: 0;
}

.card-container ul {
  list-style-type: none;
  display: block;
}

.card-container  ul>li {
  font-size: 18px;
  color: #344563;
  list-style: none;
  display: inline-block;
}

.card-container .paragraph {
  padding-top: 50px;
  color: #344563;
}

.div1 {
  height: 100%;
  padding: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.div1:nth-child(odd) {
  margin-left: 48px;
}

.div2 {
  display: grid;
  align-items: center;
  width: 100%;
}

.div2:nth-child(odd) {
  justify-content: flex-end;
}

.technologies {
  color: #3b459d;
  font-size: 12px;
  border-radius: 8px;
  background-color: #ebebff;
  margin-right: 20px;
  letter-spacing: 3%;
  padding: 0 4px;
}

.see-project-button,
.resume-button button,
.get-in-touch button {
  color: #2b52b5;
  font-weight: 500;
  font-size: 17px;
  background: #fff;
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  margin-top: 24px;
}

.see-project-button:hover,
.resume-button button:hover,
.get-in-touch button:hover {
  background-color: rgba(64, 83, 252, 0.24);
  font-weight: 700;
}

.see-project-button:active,
.resume-button button:active,
.get-in-touch button:active {
  color: #fff;
  background-color: #2230d2;
}

/* work section using javaScript Ended */

/* About me section */

.about-section {
  display: grid;
  row-gap: 12px;
  padding: 24px;
  background-color: #fff;
  border-top-right-radius: 80px;
}

.about-myself {
  color: #172b4d;
  font-size: 40px;
  font-weight: 700;
}

.about {
  padding: 20px;
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  color: #344563;
}

.connect {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #4b5296;
}

.row-1,
.row-5,
.row-6 {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  padding: 18px;
}

.languages-list {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  gap: 24px;
}

.row-2,
.row-3,
.row-4 {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  gap: 20px;
  background: #f7f7f9;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}

hr {
  margin: 0;
}

.hr1 {
  border: 0;
  border-top: 1px solid #dfe1e6;
}

/* contact section */

.contact-me {
  background: #6070ff url(images/contact-form-bg.svg);
  background-position-x: right;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 100px;
  color: #ebebff;
  padding-left: 24px;
  padding-bottom: 24px;
}

.contact-me-text {
  margin-top: 103px;
  color: #ebebff;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  text-align: center;
}

.contact-me-brief {
  color: #ebebff;
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
  margin: 40px;
  text-align: center;
}

.input-field-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-field {
  align-items: center;
  border-radius: 8px;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  width: auto;
  height: 48px;
  align-items: flex-start;
}

.write-message {
  border-radius: 8px;
  font-weight: 400;
  font-size: 17px;
  width: auto;
  height: 170px;
  color: #172b4d;
}

/* mobile menu section */

.enlarge {
  all: unset;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-left: 24px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  list-style-type: none;
  background: #6070ff;
  opacity: 97%;
}

.enlarge a {
  text-decoration: none;
  color: #fff;
}

.no-display {
  display: none;
}

.close-icon {
  position: absolute;
  top: 1rem;
  right: 2rem;
  z-index: 100;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}